.but{
    margin-left: 90%;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid green;
    background-color: rgb(227, 231, 228);
    color: green;
    text-decoration-line: none;
}
.but:hover {
    background: rgb(153, 185, 153);
    color: green;

}
.logoPageHome{
    width: 150px;
    height: 100px;
}
